{% extends 'base.html.twig' %}

{% block title %} Les plus récents | NeedHelp {% endblock %}

{% block body %}


        <div class="container">

            <H2 class="mt-4 text-center" style="color:grey">LES PLUS RECENTS !</H2>
            <div class="row">
                {% for projet in lastest %}
                <div class="col-sm-3 mt-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" {% if projet.filename %}
                            src="{{ vich_uploader_asset(projet, 'imageFile') | imagine_filter('thumb') }}" {% else %} src="{{ 'images/projets/empty.jpg' | imagine_filter('thumb') }}" {% endif %}
                             alt="Card image cap" width="400">

                        <div class="card-body">
                            <h4 class="card-title text-center"><a href="{{ path('projet.show', {'id': projet.id, "slug": projet.slug}) }}">{{ projet.title }}</a> </h4>
                            <p class="card-text text-center"> {% for tag in projet.tags %}
                                    <a href="{{ path('projet.index', {'tags[]' : tag.id}) }}">
                                        #{{ tag.name }}  </a>
                                {% endfor %}</p>
                        </div>
                        <div class="card-footer text-center">
                            {{ projet.createdAt | date('d/m/Y') }}


                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
